<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- JDBC Database connection settings -->
        <property name="hibernate.connection.driver_class">org.mariadb.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mariadb://127.0.0.1:3306/TESTful_API</property>
        <property name="hibernate.connection.username">naleo</property>
        <property name="hibernate.connection.password">Cold2002</property>

        <!-- JDBC connection pool settings -->
<!--        <property name="hibernate.c3p0.min_size">5</property>-->
<!--        <property name="hibernate.c3p0.max_size">20</property>-->
<!--        <property name="hibernate.c3p0.timeout">300</property>-->
<!--        <property name="hibernate.c3p0.max_statements">50</property>-->
<!--        <property name="hibernate.c3p0.idle_test_period">3000</property>-->

        <!-- Specify dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MariaDBDialect</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="hibernate.show_sql">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Mapping files -->
        <mapping resource="mapping/StudentEntity.hbm.xml" class="com.example.test.Student.Student"/>
    </session-factory>
</hibernate-configuration>
